<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mohtasim Alam Sohom</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Heebo&family=Inter+Tight:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="Oh-Hi">Oh, Hi!</h1>
    <h1 class="MyName">I'm Mohtasim Alam Sohom</h1>
    <h1 class="FindMe">You can find me on</h1>
    <button
      class="DiscordLogo"
      onclick="Redirect('https://discordapp.com/users/967657941937291265')"
    >
      Discord
    </button>
    <button
      class="InstaLogo"
      onclick="Redirect('https://www.instagram.com/sohom.829/')"
    >
      Instragram
    </button>
    <button
      class="TwitterLogo"
      onclick="Redirect('https://twitter.com/NotLemon829')"
    >
      Twitter
    </button>
    <button
      class="GithubLogo"
      onclick="Redirect('https://github.com/Sohom829')"
    >
      Github
    </button>
    <button class="Ko-FiLogo" onclick="Redirect('https://ko-fi.com/sohom829')">
      Ko-fi
    </button>
    <button
      class="PatreonLogo"
      onclick="Redirect('https://www.patreon.com/Sohom829')"
    >
      Patreon
    </button>
    <!--16c8db-->
    <!--https://ko-fi.com/sohom829-->
    <!--https://www.patreon.com/Sohom829-->
    <h1 class="AboutMe">About Me</h1>
    <h1>Sorry, About page isn't available here</h1>
    <h1>Click the button for redirecting to About page</h1>
    <button
      class="AboutMeButton"
      onclick="Redirect('http://localhost:3000/about')"
    >
      About
    </button>
    <button
      class="GithubStatsButton"
      onclick="Redirect('http://localhost:3000/github')"
    >
      Github Stats
    </button>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script>
      function Redirect(url) {
        window.location.href = url;
      }
    </script>
  </body>
</html>
