<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Some of my Projects</h1>
    <br />
    <br />
    <h2>AnimeTown</h2>
    <a href="https://github.com/AnimeTownFun/AnimeTown.Fun">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=AnimeTownFun&repo=AnimeTown.Fun&theme=dark "
    /></a>
    <br />
    <h2>Calendar</h2>
    <a href="https://github.com/Sohom829/calendar">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Sohom829&repo=calendar&theme=dark "
    /></a>
    <br />
    <h2>mcstatus</h2>
    <a href="https://github.com/Sohom829/mcstatus">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Sohom829&repo=mcstatus&theme=dark "
    /></a>
    <br />
    <h2>DJS-Chatbot</h2>
    <a href="https://github.com/Sohom829/discord-chatbot">
      <img
        src="https://github-readme-stats.vercel.app/api/pin/?username=Sohom829&repo=discord-chatbot&theme=dark "
    /></a>
  </body>
</html>
